<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="../../views/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../views/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="../../views/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Express News Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- for bootstrap working -->
	<script type="text/javascript" src="../../views/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- web-fonts -->
<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'> -->
<!-- <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> -->
<script src="../../views/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			pager: true,
		  });
		});
	</script>
	<script type="text/javascript" src="../../views/js/move-top.js"></script>
<script type="text/javascript" src="../../views/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!-- header-section-starts-here -->
	<div class="header">
		<div class="header-top">
			<div class="wrap">
				<div class="top-menu">
					<ul>
						<li><a href="<?php echo site_url('news/index'); ?>">首页</a></li>
						<li><a href="<?php echo site_url('news/press'); ?>">新闻</a></li>
						<li><a href="<?php echo site_url('user/register'); ?>">注册</a></li>
						<?php 
							if(!isset($_SESSION['username']))
								echo '<li><a href="'.site_url('user/login').'">登录</a></li>';
							else 
								echo '<li><a href="'.site_url('user/logout').'">退出登录</a></li>';
						?>
					</ul>
				</div>
				<div class="num">
					<?php 
						if(!isset($_SESSION['username']))
							echo '<p> 请登录 </p>';
						else 
							echo '<p> 用户：'.$_SESSION['username'].'</p>';
					?>
					
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="logo text-center">
				<a href="<?php echo site_url('news/index'); ?>"><img src="../../views/images/logo.jpg" alt="" /></a>
			</div>
			<div class="navigation">
				<nav class="navbar navbar-default" role="navigation">
		   <div class="wrap">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<!--/.navbar-header-->
		
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					 <li class="active"><a href="<?php echo site_url('news/index'); ?>">首页</a></li>
						<li><a href="<?php echo site_url('news/press'); ?>">新闻</a></li>
				    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Entertainment<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="entertainment.html">Movies</a></li>
							<li class="divider"></li>
							<li><a href="entertainment.html">Another action</a></li>
							<li class="divider"></li>
							<li><a href="entertainment.html">Articles</a></li>
							<li class="divider"></li>
							<li><a href="entertainment.html">celebrity</a></li>
							<li class="divider"></li>
							<li><a href="entertainment.html">One more separated link</a></li>
						</ul>
					  </li>
					<li><a href="shortcodes.html">Health</a></li>
					<li><a href="fashion.html">Fashion</a></li>
					  <li class="dropdown">
						<a href="business.html" class="dropdown-toggle" data-toggle="dropdown">Business<b class="caret"></b></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a href="business.html">Action</a></li>
										<li class="divider"></li>
										<li><a href="business.html">bulls</a></li>
									    <li class="divider"></li>
										<li><a href="business.html">markets</a></li>
										<li class="divider"></li>
										<li><a href="business.html">Reviews</a></li>
										<li class="divider"></li>
										<li><a href="shortcodes.html">Short codes</a></li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
									   <li><a href="business.html">features</a></li>	
										<li class="divider"></li>
										<li><a href="entertainment.html">Movies</a></li>
									    <li class="divider"></li>
										<li><a href="sports.html">sports</a></li>
										<li class="divider"></li>
										<li><a href="business.html">Reviews</a></li>
										<li class="divider"></li>
										<li><a href="business.html">Stock</a></li>
									</ul>
								</div>
							</div>
						</ul>
					</li>
					<li><a href="technology.html">Technology</a></li>
					<div class="clearfix"></div>
				</ul>
				<div class="search">
					<!-- start search-->
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
				    </div>
					<!-- search-scripts -->
					<script src="../../views/js/classie.js"></script>
					<script src="../../views/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!--/.navbar-collapse-->
	 <!--/.navbar-->
			</div>
		</nav>
		</div>
	</div>
<!-- header-section-ends-here -->
<!-- auto-load -->
<script type="text/javascript">
	
    $(document).ready(function(){  
		
		var pages = [];
		<?php // 处理顺序：先处理php，echo的内容当成是html原本的内容
		for($page = 0; $page < 100; $page++) {
			echo 'pages['.$page.'] = `';	// js变量pages，php变量$page
			for($i = $page*10; $i < ($page+1)*10; $i++) {
				echo '<div class="article">';
					echo '<div class="article-right">';
						echo '<div class="article-title">';
							echo '<p>'.$news_array[$i]['time'].'<a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>';
							echo '<a class="title" href='.$news_array[$i]['link'].'>'.$news_array[$i]['title'].'</a>';
						echo '</div>';
						echo '<div class="article-text">';
							echo '<p>'.$news_array[$i]['text'].'</p>';
							echo '<a href='.$news_array[$i]['link'].'><img src="../../views/images/more.png" alt="" /></a>';
							//echo '<div class="clearfix"></div>';
						echo '</div>';
					echo '</div>';
					echo '<div class="clearfix"></div>';
				echo '</div>';
			}
			echo '`;';
		}
		?>
		
        var range = 50;             //距下边界长度/单位px  
        var elemt = 500;           //插入元素高度/单位px  
        var maxnum = 100;            //设置加载最多次数  
        var num = 1;  // 已经加载的页数
        var totalheight = 0;   
        var main = $("#articles");                     //主体元素  
        $(window).scroll(function(){ 
            var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)  
              
            //console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());  
            //console.log("页面的文档高度 ："+$(document).height());  
            //console.log('浏览器的高度：'+$(window).height());  
              
            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);  
            if(($(document).height()-range) <= totalheight  && num != maxnum) { 
				str = pages[num];
                main.append(str);   
                num++;
            }
        });  
    });
</script>
</head>
<body>
	<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
			<div class="col-md-7 content-left">
				<div class="articles" id="articles" >
					<header>
						<h3 class="title-head">All around the world</h3>
					</header>
					<?php
					for ($i=0; $i<10; $i++) {
						echo '<div class="article">';
							echo '<div class="article-right">';
								echo '<div class="article-title">';
									echo '<p>'.$news_array[$i]['time'].'<a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>';
									echo '<a class="title" href='.$news_array[$i]['link'].'>'.$news_array[$i]['title'].'</a>';
								echo '</div>';
								echo '<div class="article-text">';
									echo '<p>'.$news_array[$i]['text'].'</p>';
									echo '<a href='.$news_array[$i]['link'].'><img src="../../views/images/more.png" alt="" /></a>';
									//echo '<div class="clearfix"></div>';
								echo '</div>';
							echo '</div>';
							echo '<div class="clearfix"></div>';
						echo '</div>';
					}
					?>
					<!--
					<div class="article">
						<div class="article-right">
							<div class="article-title">
								<p> <?php echo $news_array[0]['time']; ?> <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>
								<a class="title" href= <?php echo $news_array[0]['link']; ?> > <?php echo $news_array[0]['title']; ?> </a>
							</div>
							<div class="article-text">
								<p> <?php echo $news_array[0]['text']; ?> </p>
								<a href= <?php echo $news_array[0]['link']; ?> ><img src="../../views/images/more.png" alt="" /></a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					-->
				</div>
			</div>
			<div class="col-md-4 side-bar">
					 <div class="secound_half">
					 <div class="tags">
						<header>
							<h3 class="title-head">Tags</h3>
						</header>
						<p>
						<a class="tag1" href="single.html">At vero eos</a>
						<a class="tag2" href="single.html">doloremque</a>
						<a class="tag3" href="single.html">On the other</a>
						<a class="tag4" href="single.html">pain was</a>
						<a class="tag5" href="single.html">rationally encounter</a>
						<a class="tag6" href="single.html">praesentium voluptatum</a>
						<a class="tag7" href="single.html">est, omnis</a>
						<a class="tag8" href="single.html">who are so beguiled</a>
						<a class="tag9" href="single.html">when nothing</a>
						<a class="tag10" href="single.html">owing to the</a>
						<a class="tag11" href="single.html">pains to avoid</a>
						<a class="tag12" href="single.html">tempora incidunt</a>
						<a class="tag13" href="single.html">pursues or desires</a>
						<a class="tag14" href="single.html">Bonorum et</a>
						<a class="tag15" href="single.html">written by Cicero</a>
						<a class="tag16" href="single.html">Ipsum passage</a>
						<a class="tag17" href="single.html">exercitationem ullam</a>
						<a class="tag18" href="single.html">mistaken idea</a>
						<a class="tag19" href="single.html">ducimus qui</a>
						<a class="tag20" href="single.html">holds in these</a>
						</p>
					 </div>
					</div>
					<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- content-section-ends-here -->

	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				wrapID: 'toTop', // fading element id
				wrapHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
</body>
</html>